.container{
    display: flex;
    justify-content: end;
    padding-top: 35px;
    opacity: 0.5;
}

.column{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

img{
    height: 125px;
    width: 125px;
}

h1{
    margin: 0;
    transform: translateY(5px);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
    color: white;
    -webkit-text-stroke: 2px black;
    font-size: 22px;
}